<h1><%= @script.name %></h1>

<div class="well">
  <%= link_to "Create", new_script_command_path(@script), class: "btn" %>
  <%= link_to "Back", scripts_path, class: "btn" %>
</div>

<h2>Commands</h2>

<ul class="render render-main">
  <li style="font-family: mono"><%= link_to "", new_script_command_path(@script), :class => "hover-show icon-file" %> <i class="icon-blank"></i> <i class="icon-blank"></i> <i class="icon-blank"></i><i class="icon-blank"></i> &lt;Reponse&gt;</li>
  <li style="font-family: mono"><%= render :partial => "commands", :locals => { :commands => @commands } %></li>
  <li style="font-family: mono"><%= link_to "", new_script_command_path(@script), :class => "hover-show icon-file" %> <i class="icon-blank"></i> <i class="icon-blank"></i> <i class="icon-blank"></i><i class="icon-blank"></i> &lt;/Reponse&gt;</li>
</ul>
