<h1>Calls</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Time</th>
    <th>Caller</th>
    <th>Called</th>
    <th>Duration</th>
    <th>Recordings</th>
    <th>Status</th>
    <th></th>
  </tr>
<% @calls.each do |call| %>
  <tr>
    <td><%= content_tag :span, "New", class: "badge badge-success" if call.new %></td>
    <td><%= l call.created_at.in_time_zone("Pacific Time (US & Canada)"), :format => '%B %d, %Y %l:%M %p' %></td>
    <td><%= call.Caller %></td>
    <td><%= call.Called %></td>
    <td><%= call.CallDuration %></td>
    <td><%= call.recordings.count %></td>
    <td><%= render_call_status(call) %></td>
    <td><%= link_to "", call_path(call), method: :delete, class: "icon-trash" %></td>
  </tr>
<% end %>
</table>
