<%= form_for([@script, @command, @tag]) do |f| %>
  <% @tag.errors.full_messages.each do |msg| %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg if msg.is_a?(String) %>
    </div>
  <% end %>

  <div class="controls">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="controls">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <%= f.submit %>
<% end %>
